/* ---------------- # Forms : Custom Form classes ---------------- */

.red-text{
	color:#ee2e24;
}
.contact-form-wrap{
	padding-top:5px;
}
.textarea-wrap {
	padding:0 5px;
	clear:both;
}
.label-white{
	color:#fff !important;
}
.custom-label {
	font-size: 17px;
	color: #fff;
	padding: 10px 0 0 20px;
}
.submit-btns{
	margin-left: -5px;
}
.radio-inline + .radio-inline {
	margin-left: 15px;
}
.form-input-padding{
	padding: 20px 10px;
}