/* ---------------- # Tooltip: Validation tooltip ---------------- */
dialog {
  background: transparent;
  color: #fff;
  display: none;
  padding: 10px 10px 10px 20px;
  top: -53px;
  position: absolute;
  min-width: 270px;
  max-width: 100%;
  right: -80px !important;
  border: 0px none;
  width: 100%;
}

input, textarea, select {
  display: block;
}

input:focus + dialog {
  display: inline-block;
  margin: 10px 0 0 10px;
  text-align: center;
}

textarea:focus + dialog {
  display: inline-block;
  margin: 10px 0 0 10px;
  text-align: center;
}

select:hover + dialog {
  display: inline-block;
  margin: 10px 0 0 10px;
  text-align: center;
}

.error {
  background: #000 !important;
  opacity: 0.8;
  font-size: 14px !important;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.error label {
  font-size: 14px;
  padding: 10px;
  text-align: center !important;
  font-weight: normal;
  margin-bottom: 0px;
}

.tool-tip-head {
  background: url("../assets/images/bullets/tooltip.png") no-repeat;
  position: absolute;
  width: 16px;
  right: 20px;
  height: 16px;
  bottom: 0px;
}

.date-tip-align {
  margin-top: -17px !important;
}

/* ---------------- # Tooltip: Custom positions ---------------- */
.top-reduce {
  top: -75px;
}

.top-redce-less {
  top: -25px;
  left: -35px !important;
  right: 0px !important;
}

.redce-left {
  left: -35px !important;
  right: 0px !important;
}

.reduce-top-left {
  left: -50px;
}

.ttip-less {
  right: 0px !important;
  left: -20px;
}

.ttip-more {
  right: 0px !important;
  left: -100px;
}

.ttip-final-detail {
  right: 0px !important;
  left: -40px;
  top: -80px;
}

.ttip-property {
  top: -93px;
  right: 0px !important;
}

.ttip-uninsured {
  top: -128px;
  right: 0px !important;
}
