.faq {
    background: #c7c7c6;
    margin-left: -15px;
    margin-right: -15px;
}

#faq-topics-panel {
 	h4 {
    	color: #FFF;
	}
	h5 {
	    padding-left: 15px;
	    padding-right: 5px;
	}
	.panel-heading .panel-title {
    	background: #c7c7c6;
	}
}
