/* ---------------------- # Wizard: Process nav-wizard Scss ------------------- */

.n-wizard-wrap{
	background:url(../assets/images/others/wooden_background.jpg) top left repeat-x $panel-trans; 
	border-bottom:1px solid #ecf1f4;
	padding:20px 0;
}

.nav {
	> li {
		> a {
			padding: 12px 20px;
		}
	}
}
.nav-wizard {
	margin:0 auto;
	width:1100px;
	padding-left:30px;
	background:url(../assets/images/nav_wizard/nav_wizard_bg.png) no-repeat top center $panel-trans;
	> li {
	    float: left;
	    font-family: $heading-font;
	    margin-left:15px;
	    > a {
			position: relative;
			background-color: #e6e9ec;
			cursor:text;
			padding: 10px 8px 13px 28px;
			margin-right: 1px;
			span {
				position:relative;
				top:2px;
				font-size:20px;
			}
			img{
				padding-right:8px;
			}
			.badge {
				margin-left: 3px;
				color: #eeeeee;
				background-color: #428bca;
			}
			&:before {
				width: 0px;
				height: 0px;
				background: transparent url(../assets/images/nav_wizard/wizard_end.png) no-repeat;
				position: absolute;
				content: "";
				width: 20px;
				height: 52px;
				top: 0;
				left: 0;
			}
			&:after {
			  	width: 0px;
			  	height: 0px;
			  	border-top: 25px inset $panel-trans;
			  	border-bottom: 26px inset $panel-trans;
			 	border-left: 20px solid #f3f6f8;
			  	position: absolute;
			  	content: "";
			  	top: 0;
			  	right: -20px;
			  	z-index: 2;
			}				
		}		 
		&.active {
			> a{
			  	color: #ffffff;
			  	background-color: #ee2e24;
			  	padding-left:28px;
			  	padding-right:8px;
			  	&:hover{
				  	color: #ffffff;
				  	background-color: #ee2e24;
				  	padding-left:28px;
				  	padding-right:8px;
				}
				&:focus{
				  	color: #ffffff;
				  	background-color: #ee2e24;
				  	padding-left:28px;
				  	padding-right:8px;
				}
				&:after {
				  	border-left-color: #ee2e24;
				}
				&.badge {
				  	color: #428bca;
				  	background-color: #f3f6f8;
				}
			}
		}
		&.disabled {
			> a {
			  	color: #a0a8ae;
			  	text-shadow:1px 1px #f0f0f0;
			  	&:hover{
				  	color: #a0a8ae;
				  	text-decoration: none;
				  	background-color: $border-color;
				  	cursor: default;
				  	padding-left:28px;
				  	padding-right:8px;
				}
				&:focus{
				  	color: #a0a8ae;
				  	text-decoration: none;
				  	background-color: $border-color;
				  	cursor: default;
				  	padding-left:28px;
				  	padding-right:8px;
				}
				&:before {
				  	border-right-color: $border-color;
				}
				&:after {
				  	border-left-color: $border-color;
				}
			}
		}	  
		&.done {
			> a {
			  	color: #fff;
			  	background: #000;
			  	&:hover{
				  	color: #fff;
				  	text-decoration: none;
				  	background-color: #000;
				  	cursor: default;
				  	padding-left:28px;
				  	padding-right:8px;
				}
				&:focus{
				  	color: #fff;
				  	text-decoration: none;
				  	background-color: #000;
				  	cursor: default;
				  	padding-left:28px;
				  	padding-right:8px;
				}
				&:before {
				  	border-right-color: #000;
				}
				&:after {
				  	border-left-color: #000;
				}
			}
		} 
	}
	&.nav-justified {
		> li {
		  	float: none;
		  	> a {
			  	padding: 12px 20px;
			}
		}
	}
}
