/* ---------------------- # Color variables : All color variables ---------------------- */


$dark-green: #417c61;
$label-grey: #A7A9AC;
$light-grey: #A7A9AC;
$lightest-grey: #E6E7E8; //used on dimm button borders
$near-black: #231F20;
$disabled-bkg: #E0E0E0;
$orange: #F5952E;
$unselected-bkg: #E6E7E8;



/* These are temporary colors to make the file work until I clear out all the unneeded variables  */
$red: red;
$grey: grey;
$primary-color: green;



/* Button variables  */
$button-text-size: 17px;



/*   Delete all of this later!  This is OLD example code from another client's site  */

//$page-bg-color		:#ffffff;				/* # Main bg color */
//$panel-color		:#ffffff;				/* # Primary background color for container inside */

//$primary-color		:#292929;				/* # Main color */
//$link-active		:#ee2e24;				/* # Links color */

//$border-color		:#e6e9ec;				/* # Border color */
//$alt-grey			:#e6e9ec;				/* # Alternate color */

//$primary-btn		:#201d1d;				/* # Primary call to action button color */
//$btn-hover-state	:#ee2e24;				/* # Button hover state color */
//$btn-blue			:#52a5f8;				/* # Update button color : Final quote page */

/* ---------------------- # OFFICIAL Y&L Colors from Guide ---------------------- */

//$red				: #ee2e24;				/* # This wasn't provided from Y&L */
//$near-black			: #201d1d;				/* # Called Black on Y&L StyleGuide */
//$grey-lt			: #E3E3E3;				/* # Called Light Gray on Y&L StyleGuide */	
//$grey-med			: #c7c7c6;				/* # Called Med Gray on Y&L StyleGuide */	
//$grey   			: #7b7b7b;				/* # Called DarkGrey on Y&L StyleGuide */

//$grey-background	: #7b7b7b;				/* # Called DarkGrey on Y&L StyleGuide */

//$grey-hover			: rgba(123, 123, 123, 0.4);	/* # Called DarkGrey on Y&L StyleGuide, this has a transparency as well */
	
//$button-background	: $red;