/* ---------------------- # Utilities: Utility variables ------------------- */

$screen-xlg-min: 	1400px;					/* # Extra large screens resolution */
$screen-lg-min: 	1200px;					/* # Large screens resolution */
$screen-md-min: 	992px;					/* # Medium  screens resolution */
$screen-sm-min: 	768px;					/* # Small screens resolution */

$max-page-width:	1100px;					/* # Max width of the container */
$standard-font: 	16px;					/* # Standard font size */
$panel-trans: 		transparent;			/* # Transparent background */
$title-large: 		48px;					/* # Large title text */
$title-normal: 		30px;					/* # Normal title text */
$full-width: 		100%;					/* # Full width */

$heading-font:		'DIN Next W01';		/* # Font family for headlines */

